page-comprovante {
    .scroll-content {
        margin-top: 89px!important;

        h2{
            font-size: 1.5rem;
            text-align: center;
            font-weight: bold;
            margin: 0!important;
            overflow: hidden;
        }

        h4{
            font-size: 1.3rem;
            text-align: center;
        }
    }

    .status{
        text-align: center;
        padding: 10px;
        color: #FFF;
        margin-bottom: 16px;
        font-weight: bold;
    }

    .status-danger{
        background-color: #f53d3d;  
    }

    .status-success{
        background-color: #32db64;  
    }
}
