item {
    ion-list-header{
        border-top: 0!important;
        background-color: #f2f2f2!important;
        color: #000!important;
        font-size: 1.3rem!important;
        margin-bottom: 0!important;
        margin-top: 16px!important;
    }

    ion-item-divider{
        font-size: 1.3rem;
    }

    ion-list{
        margin-bottom: 0!important;
    }

    .total-item{
        background-color: #ccc;
        font-size: 1.3rem;

        .valor{
            font-size: 1.4rem;
        }
    }

    .total{
        background-color: #000;
        color: #fff;
        font-size: 1.4rem;

        .valor{
            font-size: 1.4rem;
        }
    }
}
