page-comandas-em-aberto {
    .scroll-content{
        margin-top: 92px!important;

        span{
            float: right;
            font-weight: bold
        }

    }

    .item{
        padding-left: 0!important;

        .item-inner{
            padding: 0!important;
        }
    }
}